html {
  position: relative;
  min-height: 100%;
  font-family: Tahoma;
  font-size: 14px;
}

header {
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

body {
  margin-bottom: 60px;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
  background-color: white;
}

td{
    border: 1px solid black;
}

.board_list {
    border: 1px solid black;
    font-size: 12px;
    padding: 10px;
}

.content {
    border: 1px solid black;
    background-color: lemonchiffon;
}

.startpage_content {
    font-weight: bold;
    font-size: 14px;
}

.thread_log {
    border: 3px solid black;
    padding: 5px;
    font-weight: bold;
}

.logo{
    width: 200px;
    height: auto;
}

.post_image{
    height: 50px;
    width: auto;
}

.board_title{
    font-size: 18px;
    font-weight: bolder;
}
