
@{
    ViewData["Title"] = "GetBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Board

<div class="board_content">
    <table style="undefined;table-layout: fixed; width: 436px">
        <colgroup>
            <col style="width: 68px">
            <col style="width: 368px">
        </colgroup>
        @foreach (Thread thread in Model.Threads)
        {
            <tr>
                <th><a href="~/@Model.ShortName/@thread.Id">@thread.Id</a></th>
                <th>@thread.Posts[0].Text.Remove(50)</th>
            </tr>
        }
    </table>
</div>

