
@{
    ViewData["Title"] = "GetBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Board
<div class="form-text">
    <form method="post" autocomplete="off">
        <input type="text" name="name" placeholder="Отправитель" value="@ViewData["SenderName"]" /> <br />
        <textarea name="text" placeholder="Тест сообщения"></textarea> <br />
        <input type="text" name="contentRef" placeholder="Ссылка на изображение" /> <br />
        <input type="hidden" name="boardId" value="@Model.Id" />
        <input type="submit" value="Создать тред" />
    </form>
</div>
<div class="board_content">
    <table style="undefined;table-layout: fixed; width: 436px">
        <colgroup>
            <col style="width: 68px">
            <col style="width: 368px">
        </colgroup>
        @foreach (Thread thread in Model.Threads)
        {
            <tr>
                <th><a href="~/@Model.ShortName/@thread.Id">@thread.Id</a></th>
                <th>
                    @(thread.Posts[0].Text.Length > 50 ? 
                    thread.Posts[0].Text.Remove(50) : thread.Posts[0].Text)
                    <a href="~/@(Model.ShortName)/@(thread.Id)">[Далее]</a>
                </th>
            </tr>
        }
    </table>
</div>

