@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Board>

<div class="boards" style="font-size:x-large">
    @foreach(Board board in Model)
    {
        <a href="~/@board.ShortName" title="@board.Name">@board.ShortName</a> 
    }
</div>